{% extends "base.html" %}

{% block title %} Dashboard {% endblock title %}

{% block tab %}
<h1 class="font-semibold text-2xl">Dashboard</h1>
{% endblock tab %}

{% block admincontent %}
<div class="grid grid-cols-1 py-4 my-4 md:grid-cols-2 lg:grid-cols-3">

    <div class="bg-white rounded shadow my-4 transition-all hover:-translate-y-1 md:mr-4">
        <h1 class="text-2xl font-bold text-gray-600 px-6 py-4 border-b">Trending
            <small class="text-sm text-gray-400 font-bold">Blog title</small>
        </h1>
        <div class="p-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi adipisci rerum atque culpa
                dolorem
                alias omnis fuga quaerat sunt voluptatibus? Quae unde, atque dolore architecto amet magnam sed velit
                soluta!</p>
        </div>
        <div class="p-4 flex place-content-between">
            <p class="text-emerald-600 text-sm font-semibold"><span class="text-gray-400 font-bold">views</span>
                2.8k
            </p>
            <p class="text-red-700 text-sm font-semibold"><span class="font-bold text-gray-400">likes</span> 1.6k
            </p>
        </div>
    </div>

    <div class="bg-white rounded shadow my-4 transition-all hover:-translate-y-1 md:mr-4">
        <h1 class="text-2xl font-bold text-gray-600 px-6 py-4 border-b">Trending
            <small class="text-sm text-gray-400 font-bold">Blog title</small>
        </h1>
        <div class="p-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Excepturi adipisci rerum atque culpa dolorem
                alias omnis fuga quaerat sunt voluptatibus? Quae unde, atque
                dolore architecto amet magnam sed velit
                soluta!</p>
        </div>
        <div class="p-4 flex place-content-between">
            <p class="text-emerald-600 text-sm font-semibold"><span class="text-gray-400 font-bold">views</span>
                2.8k
            </p>
            <p class="text-red-700 text-sm font-semibold"><span class="font-bold text-gray-400">likes</span> 1.6k
            </p>
        </div>
    </div>

    <div class="bg-white rounded shadow my-4 transition-all hover:-translate-y-1">
        <h1 class="text-2xl font-bold text-gray-600 px-6 py-4 border-b">Trending
            <small class="text-sm text-gray-400 font-bold">Blog title</small>
        </h1>
        <div class="p-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Excepturi adipisci rerum atque culpa dolorem
                alias omnis fuga quaerat sunt voluptatibus? Quae unde, atque
                dolore architecto amet magnam sed velit
                soluta!</p>
        </div>
        <div class="p-4 flex place-content-between">
            <p class="text-emerald-600 text-sm font-semibold"><span class="text-gray-400 font-bold">views</span>
                2.8k
            </p>
            <p class="text-red-700 text-sm font-semibold"><span class="font-bold text-gray-400">likes</span> 1.6k
            </p>
        </div>
    </div>
</div>


<div class="bg-white rounded w-full shadow mb-6">
    <h1 class="text-2xl font-semibold text-gray-700 px-6 py-4 border-b">Current Blogs</h1>
    <div class="p-4 min-w-full relative rounded overflow-x-scroll overflow-hidden">
        <table class="table-fixed border min-w-full text-sm text-left text-gray-500">
            <thead class="text-sm text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">No.</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Blog
                        Title</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Date
                        Created</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">Date
                        Updated</th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr class="bg-white border-t hover:bg-gray-100">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{forloop.counter}}
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap">{{post.title}}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{post.created}}</ td>
                    <td class="px-6 py-4 whitespace-nowrap">{{post.updated}}</ td>
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                        <a href="{% url 'posts:blog_details' post.id %}"
                            class="px-4 py-2 rounded text-black border bg-white font-semibold"> view</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock admincontent %}