<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock title %}</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}"/>
    {% endcompress %}
</head>

<body>
    {% comment %} npx tailwindcss -i ./static/src/input.css -o ./static/src/output.css {% endcomment %}
    <div class="flex flex-col min-h-screen bg-white">
        {% if not user.is_authenticated %}
            {% include "nav.html" %}
        {% endif %}
        <div class=" flex min-h-screen bg-white">
            {% if  user.is_authenticated %}
                {% include "sidebar.html" %}
                <div class="w-full ml-[120px] lg:ml-[220px]">
                    <nav class="bg-gray-200/50 px-4 py-2 w-full border-b z-10">
                        <ul class="flex place-content-between w-full">
                            <li>
                                {% block tab %}{% endblock tab %}
                            </li>
                            {% include "top_nav_profile.html" %}
                        </ul>
                    </nav>
                    <div class="bg-gray-100/0 px-4 py-2 min-h-screen -z-20">
                        {% block admincontent %}
                        {% endblock admincontent %}
                    </div>
                </div>
            {% endif %}   
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'src/js/main.js' %}"></script>
</body>

</html>