<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    {% endcompress %}
</head>

<body>
    {% comment %} npx tailwindcss -i ./static/src/input.css -o ./static/src/output.css {% endcomment %}
    <div class="flex flex-col min-h-screen mb-3 bg-gray-200">
        <div class="relative mb-10">
            {% include "nav.html" %}
        </div>
        {% include "accounts/login.html" %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include "footer.html" %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/auth.js" %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>