<div class="bg-black/80 z-40 fixed w-full backdrop-blur-sm text-white px-8 py-4">
    <ul class="flex place-content-between">
        <li class="cursor-pointer hover:border-b">
            <a href="{% url 'posts:home' %}"> Home </a>
        </li>
        <ul class="mx-auto flex">
            <li class="mx-2 cursor-pointer hover:border-b ">
                <a class="whitespace-nowrap" href="{% url 'posts:about-us' %}">Porfolios</a>
            </li>
        </ul>
        
        {% if not user.is_authenticated %}
            <li id="open-login" class="cursor-pointer hover:border-b">login</li>
        {% else %}
            <li  class="cursor-pointer text-red-500 hover:border-b">
                <a href="{% url 'accounts:logout' %}">logout</a>
            </li>
        {% endif %}
    </ul>
</div>