@tailwind base;
@tailwind components;
@tailwind utilities;

.blog:hover>.hidden {
    display: flex;
    flex-direction: column;
}

.blog:hover>.float-end {
    transform: rotate(90deg);
}

.profile:hover>.hidden {
    display: flex;
    flex-direction: column;
}

.form-control {
    @apply min-w-full border rounded px-2 py-1 border-orange-300 focus-within:outline-orange-500
}